# Server
DB_HOST=10.194.1.43
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=P@ssw0rd@123
DB_NAME=Socialdev App
PORT=8000

# JWT
JWT_SECRET=your-super-secret-key-change-me

# Auth0 (Google Login)
AUTH0_DOMAIN=dev-p6m40iaxhz0i543y.us.auth0.com
AUTH0_CLIENT_ID=aBJe4HwBKfZ98XiWgfVKios2UrGx6PU3
